[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=openWithSkein;
X-KDE-Priority=TopLevel

[Desktop Action openWithSkein]
Name=Open with Skein
Icon=skein
Exec=skein %f
